@charset "utf-8";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/form/all";
@import "spinner";
@import "yellow_box";
@import "tweet";

.main-content {
  margin: 1em 1em 0;
}

.hero {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Poppins", sans-serif;

  .hero-foot {
    height: 50px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);

    @media (max-width: 599px) {
      display: none;
    }

    .hero-foot--wrapper {
      margin: 7px auto;
      height: 50px;

      .hero-menu-desktop {
        line-height: 38px;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1rem;

        a {
          color: #43485c;

          :hover {
            color: #1f2c6c;
            transition: all 0.2s ease-in-out;
            border-bottom: 2px solid #43485c;
          }
        }

        ul li {
          display: inline-block;
          padding-right: 15px;
          padding-left: 15px;

          .is-active a {
            border-bottom: 2px solid #43485c;
          }
        }
      }
    }
  }
}
